<script>
    $(document).ready(function () {
       
        
        $("body").delegate(".submit-comment", "click", function (event) {
            let review_id = $(event.target).attr('id');
            let content = $(`#comment_box_${review_id}`).val();
            let user_id = <%= current_user.id %>;
            
            content = content.trim();
            if (!content) {
                alert('Comment can not be empty');
                return false;
            }

            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "/comments",
                "method": "POST",
                "headers": {
                    "Content-Type": "application/json",
                    "cache-control": "no-cache",
                },
                "processData": false,
                "data": `{
                    "review_id":"${review_id}",
                    "user_id":"${user_id}",
                    "content":"${content}"
                }`
            }

            $.ajax(settings).done(function (response) {
                $(`#comment_list_${review_id}`).prepend(`
                    <div class="row" style="padding-bottom:10px;" id="comment_${response.data.id}">
                        <div class="col-md-1 align-self-center">
                        </div>
                        <div class="col-md-1 align-self-center">
                            <% if current_user.picture.presence %>
                            <%= image_tag(current_user.picture.thumb.url, class: "rounded-circle mx-auto d-block float-left", alt: "image", width: "75px", height: "75px") %>
                            <% else %>
                            <img src="http://www.personalbrandingblog.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640-300x300.png"
                                class="rounded-circle mx-auto d-block" alt="image" width="75px" height="75px">
                            <% end %>
                        </div>
                        <div class="col-md-5">
                        <button class="btn btn-light float-right delete-comment-btn" id="${response.data.id}">
                            <i class="fas fa-times" id="${response.data.id}"></i>
                        </button>
                        <button class="btn btn-light float-right edit-comment-btn" id="${response.data.id}">
                            <i class="fa fa-edit fa-1x" id="${response.data.id}"></i>
                        </button>
                            <%= link_to current_user.name, current_user %>
                            <span class="date">
                               just now</span>
                            <br />
                            <span id = "comment_content_${response.data.id}">
                                ${content}
                            </span>
                        </div>
                    </div>
                `);
                $(`#comment_form_${review_id}`).html(`
                    <div class="row">
                        <div class="col-md-1 align-self-center">
                        </div>
                        <div class="col-md-1 align-self-center">
                        <% if current_user.picture.presence %>
                        <%= image_tag(current_user.picture.thumb.url, class: "rounded-circle mx-auto d-block float-left", alt: "image", width: "75px", height: "75px") %>
                        <% else %>
                        <img src="http://www.personalbrandingblog.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640-300x300.png"
                            class="rounded-circle mx-auto d-block" alt="image" width="75px" height="75px">
                        <% end %>
                        </div>
                        <div class="col-md-6">
                        <textarea rows="2" cols="45" placeholder="Write your comment here" class="comment_box" id="comment_box_${review_id}"></textarea>
                        </br>
                        <input type="submit"  value="Comment" class="submit-comment" id="${review_id}">
                        </div>
                    </div>
                `).toggle();
                $(`#comment_list_${review_id}`).show();
                let count = $(`#cmt_count_${review_id}`).text().trim();
                count = Number.parseInt(count);
                $(`#cmt_count_${review_id}`).text(`${count+1}`);
            });
            
        });

    });
</script>

<script>
    $(document).ready(function () {
        $("body").delegate(".delete-comment-btn", "click", function (event) {
            let comment_id = $(event.target).attr('id');
            let review_id = $(event.target).closest(".comment_list").attr('id').slice(-2).replace(/^\D+/g, '');
            review_id = Number.parseInt(review_id);
            if (!confirm('Are you sure you want to delete this comment')) {
                return false;
            } 
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": `/comments/${comment_id}`,
                "method": "DELETE",
                "headers": {
                    "cache-control": "no-cache",
                }
            }

            $.ajax(settings).done(function (response) {
                $(`#comment_${comment_id}`).hide();
                let count = $(`#cmt_count_${review_id}`).text().trim();
                count = Number.parseInt(count);
                $(`#cmt_count_${review_id}`).text(`${count - 1}`);
                
            });
        });

        $("body").delegate(".edit-comment-btn", "click", function (event) {
            let comment_id = $(event.target).attr('id');
            let comment_content = $(`#comment_content_${comment_id}`).text().trim();
            $(`#comment_${comment_id}`).hide();
            $(event.target).closest(".comment_list").prepend(`
                <div class="row" style="margin-bottom:10px" id = "form_update_comment_${comment_id}">
                    <div class="col-md-1 align-self-center">
                    </div>
                    <div class="col-md-1 align-self-center">
                    <% if current_user.picture.presence %>
                    <%= image_tag(current_user.picture.thumb.url, class: "rounded-circle mx-auto d-block float-left", alt: "image", width: "75px", height: "75px") %>
                    <% else %>
                    <img src="http://www.personalbrandingblog.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640-300x300.png"
                        class="rounded-circle mx-auto d-block" alt="image" width="75px" height="75px">
                    <% end %>
                    </div>
                    <div class="col-md-6">
                    <textarea rows="2" cols="45" id = "content_box_${comment_id}">${comment_content}</textarea>
                    </br>
                    <button type="submit" class="update-comment" id="${comment_id}">Update
                    </button>
                    <button type="submit" class="cancel-update-comment" id="${comment_id}">
                        Cancel
                    </button>
                    </div>
                </div>
            `);
        });
        $("body").delegate(".cancel-update-comment", "click", function (event) {
            let comment_id = $(event.target).attr('id');
            $(`#form_update_comment_${comment_id}`).remove();
            $(`#comment_${comment_id}`).show();
        });
        $("body").delegate(".update-comment", "click", function (event) {
            let comment_id = $(event.target).attr('id');
            let content = $(`#content_box_${comment_id}`).val().trim();
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": `/comments/${comment_id}`,
                "method": "PUT",
                "headers": {
                    "Content-Type": "application/json",
                    "cache-control": "no-cache",
                },
                "processData": false,
                 "data": `{
                    "content":"${content}"
                }`
            }

            $.ajax(settings).done(function (response) {
                $(`#form_update_comment_${comment_id}`).replaceWith(`
                    <div class="row" style="padding-bottom:10px;" id="comment_${comment_id}">
                        <div class="col-md-1 align-self-center">
                        </div>
                        <div class="col-md-1 align-self-center">
                            <% if current_user.picture.presence %>
                            <%= image_tag(current_user.picture.thumb.url, class: "rounded-circle mx-auto d-block float-left", alt: "image", width: "75px", height: "75px") %>
                            <% else %>
                            <img src="http://www.personalbrandingblog.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640-300x300.png"
                                class="rounded-circle mx-auto d-block" alt="image" width="75px" height="75px">
                            <% end %>
                        </div>
                        <div class="col-md-5">
                            <button class="btn btn-light float-right delete-comment-btn" id="${comment_id}">
                                <i class="fas fa-times" id="${comment_id}"></i>
                            </button>
                            <button class="btn btn-light float-right edit-comment-btn" id="${comment_id}">
                                <i class="fa fa-edit fa-1x" id="${comment_id}"></i>
                            </button>
                            <%= link_to current_user.name, current_user %>
                            <span class="date">
                               just now</span>
                            <br />
                            <span id = "comment_content_${comment_id}">
                                ${content}
                            </span>
                        </div>
                    </div>
                `)
            });
        });
    });
</script>