<script>
  $(document).ready(function(){
    $("body").delegate("input", "click",function(event){
      event.preventDefault();
      if($(event.target).val() == 'Submit'){
        $('#q-modal').modal('show');
        $("#no-btn").click(function() {
          $(".modal-footer").hide();
          $("#modal-text").html("You can not review this company");
          $("#form-review").replaceWith(`
            <form id="form-review">
              ${avatar}
              <div class="col-md-11" style="padding-left:30px;">
                  ${star}
                  <li>
                  <textarea rows="2" cols="60" placeholder="Write your comment here" class="content"></textarea>
                  </li>
                  <li>
                  <input type="submit" name="commit" value="Submit" class="submit-review">
                  </li>
              </div>
            </form>
          `);
          return false;
        });
  
        $("#yes-btn").click(function() {
          $("#modal-text").html(`
            <div>
              <div class="row">
                <div class="col-md-9">
                  <input type="text" class="form-control" id="department" placeholder="Which department">
                </div>
                <div class="col-md-3">
                  <input type="number" class="form-control" id="years" placeholder="Years">
                </div>
              </div>
            </div>
          `);
          $(".modal-footer").html(`
            <button type="button" class="btn btn-primary" id="submit-q">Submit</button>
          `);
        });
        return false;
      }
      if($(event.target).val() == 'Update'){

      let ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);
      let current_rating = ratingValue;
      let content = $('.content').val().trim();
      let user_id = <%= current_user.id %>;
      let company_id = <%= @company.id %>;
  
      if (!content){
        alert('Content can not be empty');
        return false;
      }
  
      if (!ratingValue){
        alert('Rating can not be empty');
        return false;
      }
  
      var settings = {
        "async": true,
        "crossDomain": true,
        "url": `/companies/${company_id}/reviews`,
        "method": "POST",
        "headers": {
          "Content-Type": "application/json",
          "cache-control": "no-cache",
        },
        "processData": false,
        "data":  `{
          "rating":"${ratingValue}",
          "user_id":"${user_id}",
          "content":"${content}"
          }`
      }
      let starHTML = `
      <div>
        <div class="rating-stars">
          <ul id="stars">`
      for (let i = 1; i <= current_rating; i++) {
          starHTML += `
            <li class="star selected" data-value="${i}">
              <i class='fa fa-star fa-fw'></i>
            </li>
          `;
      }
      for (let i = current_rating + 1; i <= 5; i++) {
          starHTML +=
            `
            <li class="star" data-value="${i}">
              <i class='fa fa-star fa-fw'></i>
            </li>
          `;
      }
      starHTML +=
                  `
                  </ul>
                </div>
              </div>`
      $.ajax(settings).done(function (response) {
        google.charts.setOnLoadCallback(function() {
                  drawBasic(response.review['5'],response.review['4'],response.review['3'],response.review['2'],response.review['1']);
                });
        $(`#form-review`).replaceWith(`
          <div class="row" style="padding-top:10px;" id = ${response.data.id}>
            <div class="col-md-1 align-self-center">
              <% if current_user.picture.presence %>
                <%= image_tag(current_user.picture.thumb.url, class: "rounded-circle mx-auto d-block float-left", alt: "image", width: "75px", height: "75px") %>
              <% else %>
                <img src="http://www.personalbrandingblog.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640-300x300.png"
                            class="rounded-circle mx-auto d-block" alt="image" width="75px" height="75px">
              <% end %>
            </div>
            <div class="col-md-6">
              <div class="card" style="border: none">
                <div class="card-body">
                  <button class="btn btn-light float-right" id="delete-btn">
                    <i class="fas fa-times"></i>
                  </button>
                  <button class="btn btn-light float-right" id="edit-btn">
                    <i class="fa fa-edit fa-1x"></i>
                  </button>
                  <%= link_to current_user.name, current_user %>
                  <span class="date">just now</span>
                  <br/>
                  <span>(worked at ${response.data.department} department for ${response.data.year} years)</span>
                  <div style="padding-top:10px">
                      <div class='rating-stars'>
                      <ul>
                        ${starHTML}
                      </ul>
                      </div>
                  </div>
                  <p id="content_box_${response.data.id}">
                    ${content}
                  </p>
                </div>
              </div>
            </div>
          </div>
        `);
      });
      }
    });
  });
</script>
<script>
  $(document).ready(function(){
    let star5 = <%= @company.reviews.star(5).count %>;
    let star4 = <%= @company.reviews.star(4).count %>;
    let star3 = <%= @company.reviews.star(3).count %>;
    let star2 = <%= @company.reviews.star(2).count %>;
    let star1 = <%= @company.reviews.star(1).count %>;
    google.charts.setOnLoadCallback(function() { drawBasic(
      star5,star4,star3,star2,star1
      );
    });
  });
</script>
<script>
  $(document).ready(function(){
    let avatar = `<%= render "avatar" %>`;
  
    $("body").delegate("#edit-btn", "click",function(event){
    let current_content = $(event.target).closest(".row").find("p").text().trim();
    let current_rating = 0;
    <% if @cur_review %>
      current_rating = <%= @cur_review.rating %>;
    <% end %>
    let starHTML = `
    <div>
      <div class="rating-stars">
        <ul id="stars">`
    for (let i = 1; i <= current_rating; i++) {
        starHTML += `
          <li class="star selected" data-value="${i}">
            <i class='fa fa-star fa-fw'></i>
          </li>
        `;
    }
    for (let i = current_rating + 1; i <= 5; i++) {
        starHTML +=
          `
          <li class="star" data-value="${i}">
            <i class='fa fa-star fa-fw'></i>
          </li>
        `;
    }
    starHTML +=
                `
                </ul>
              </div>
            </div>`
    $(event.target).closest(".row").replaceWith(`
      <form id="form-review">
        ${avatar}
        <div class="col-md-11" style="padding-left:30px;">
          ${starHTML}
          <li>
          <textarea rows="2" cols="60" placeholder="Write your comment here" class="content">${current_content}</textarea>
          </li>
          <li>
          <input type="submit" name="commit" value="Update" class="submit-review">
          </li>
        </div>
      </form>
    `)
    });
  });
</script>
<%= render "star_js" %>
<script>
  $("body").delegate("#delete-btn", "click",function(event){
    let avatar = `<%= render "avatar" %>`;
    let star = `<%= render "star" %>`
    let id = $(event.target).closest(".row").attr('id');
    let company_id = <%= @company.id %>
    var settings = {
      "async": true,
      "crossDomain": true,
      "url": `/companies/${company_id}/reviews/${id}`,
      "method": "DELETE",
      "headers": {
        "cache-control": "no-cache",
      }
    }
    $.ajax(settings).done(function (response) {
      google.charts.setOnLoadCallback(function() {
                  drawBasic(response.review['5'],response.review['4'],response.review['3'],response.review['2'],response.review['1']);
                });
      $(event.target).closest(".row").replaceWith(`
        <form id="form-review">
          ${avatar}
          <div class="col-md-11" style="padding-left:30px;">
              ${star}
              <li>
              <textarea rows="2" cols="60" placeholder="Write your comment here" class="content"></textarea>
              </li>
              <li>
              <input type="submit" name="commit" value="Submit" class="submit-review">
              </li>
          </div>
        </form>
    `)
    });
  });
</script>
<script>
  $(document).ready(function(){
      $("body").delegate("#submit-q", "click",function(event){
        $('#q-modal').modal('hide');
        let department = $("#department").val();
        let year = $("#years").val();
        let ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);
        let content = $('.content').val().trim();
        let company_id = <%= @company.id %>;
        let user_id = <%= current_user.id %>
        let star = `<%= render "star" %>`
        let avatar = `<%= render "avatar" %>`;
  
        if (!content){
          alert('Content can not be empty');
          return false;
        }
  
        if (!ratingValue){
          alert('Rating can not be empty');
          return false;
        }
  
        var settings = {
          "async": true,
          "crossDomain": true,
          "url": `/companies/${company_id}/reviews`,
          "method": "POST",
          "headers": {
            "Content-Type": "application/json",
            "cache-control": "no-cache",
          },
          "processData": false,
          "data":  `{
            "rating":"${ratingValue}",
            "user_id":"${user_id}",
            "content":"${content}",
            "department":"${department}",
            "year":"${year}"
            }`
        }
        $.ajax(settings).done(function (response) {
          google.charts.setOnLoadCallback(function() {
                    drawBasic(response.review['5'],response.review['4'],response.review['3'],response.review['2'],response.review['1']);
                  });
          let starHTML = "";
          for (let i = 0; i < ratingValue; i++) {
              starHTML += `
                <li class='star selected'>
                  <i class='fa fa-star fa-fw'></i>
                </li>
              `
          }
          $(`#form-review`).replaceWith(`
            <div class="row" style="padding-top:10px;" id = ${response.data.id}>
              <div class="col-md-1 align-self-center">
                <% if current_user.picture.presence %>
                  <%= image_tag(current_user.picture.thumb.url, class: "rounded-circle mx-auto d-block float-left", alt: "image", width: "75px", height: "75px") %>
                <% else %>
                  <img src="http://www.personalbrandingblog.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640-300x300.png"
                              class="rounded-circle mx-auto d-block" alt="image" width="75px" height="75px">
                <% end %>
              </div>
              <div class="col-md-6">
                <div class="card" style="border: none">
                  <div class="card-body">
                    <button class="btn btn-light float-right" id="delete-btn">
                      <i class="fas fa-times"></i>
                    </button>
                    <button class="btn btn-light float-right" id="edit-btn">
                      <i class="fa fa-edit fa-1x"></i>
                    </button>
                    <%= link_to current_user.name, current_user %>
                    <span class="date">just now</span>
                    <br/>
                    <span>(worked at ${response.data.department} department for ${response.data.year} years)</span>
                    <div style="padding-top:10px">
                        <div class='rating-stars'>
                        <ul>
                          ${starHTML}
                        </ul>
                        </div>
                    </div>
                    <p id="content_box_${response.data.id}">
                      ${content}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          `);
        });
      });
  });
</script>
