<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Business content</th>
      <th>Code language</th>
      <th>Work time</th>
      <th>Work hour</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.address %></td>
        <td><%= company.business_content %></td>
        <td><%= company.code_language %></td>
        <td><%= company.work_time %></td>
        <td><%= company.work_hour %></td>
        <td><%= image_tag company.picture.thumb.url %></td>
        <td><%= link_to 'Show', company %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>