<main role="main">
  <div class="container" style="padding-top:50px; padding-bottom:50px">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="logo">
            <%= image_tag(@company.picture.url, class: "img-thumbnail float comment-image") if @company.picture? %>
          </div>
          <div class="card-body">
            <p class="like-count">Number of likes: <%= @company.get_upvotes.size %></p>
            <p class="avg-count">Avarage rating: 4</p>
            <div class="d-flex justify-content-between align-items-center">
            <% if current_user %>
              <div class="btn-group">
                    <%= link_to like_company_path(@company), class: "like-btn btn btn-sm btn-outline-secondary", method: :put, remote: :true do %>
                      <div>
                        <span id="like_prompt">
                          <% if current_user.liked? @company %>
                            Unlike
                          <% else %>
                            Like
                          <% end %>
                        </span>
                      </div>
                    <% end %>
              </div>
              <div>
            <div class='rating-stars text-center'>
              <br/>
              <ul id='stars'>
                <li class='star' title='Poor' data-value='1'>
                  <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Fair' data-value='2'>
                  <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Good' data-value='3'>
                  <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Excellent' data-value='4'>
                  <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='WOW!!!' data-value='5'>
                  <i class='fa fa-star fa-fw'></i>
                </li>
              </ul>
            </div>
              </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-11">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="true">Company Information</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile" aria-selected="false">Recruit</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                       aria-controls="contact" aria-selected="false">Compensation</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <table class="table table-hover">
                  <tbody>
                  <tr>
                    <td style="border-top:none">Name:</td>
                    <td style="border-top:none">
                      <%= @company.name %>
                    </td>
                  </tr>
                  <tr>
                    <td>Address:</td>
                    <td>
                      <%= @company.address %>
                    </td>
                  </tr>
                  <tr>
                    <td>Representative_name</td>
                    <td>
                      <%= @company.representative_name %>
                    </td>
                  </tr>

                  <tr>
                    <td>Representative_role</td>
                    <td>
                      <%= @company.representative_role %>
                    </td>
                  </tr>
                  <p>
                    <tr>
                      <td>Foundation</td>
                      <td>
                        <%= @company.foundation %>
                      </td>
                    </tr>
                  <td>Vietnam representative</td>
                  <td>
                    <% if @company.vietnam_representative != '0' %>
                      Có
                    <% else %>
                      Không
                    <% end %>
                  </td>
                  </tr>
                  <tr>
                    <td>Business content:</td>
                    <td>
                      <%= @company.business_content %>
                    </td>
                  </tr>
                  <tr>
                    <td>Code language:</td>
                    <td>
                      <%= @company.code_language %>
                    </td>
                  </tr>
                  <tr>
                    <td>Work time:</td>
                    <td>
                      <%= @company.work_time %>
                    </td>
                  </tr>
                  <tr>
                    <td>Work hour:</td>
                    <td>
                      <%= @company.work_hour %>
                    </td>
                  </tr>
                  <tr>
                    <td>Appeal:</td>
                    <td>
                      <%= @company.appeal %>
                    </td>
                  </tr>
                  <tr>
                    <td>Other:</td>
                    <td>
                      <%= @company.other %>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <table class="table table-hover">
                  <tbody>
                  <tr>
                    <td style="border-top:none">Work type</td>
                    <td style="border-top:none">
                      @company.work_type
                    </td>
                  </tr>
                  <tr>
                    <td>Number of employee</td>
                    <td>
                      @company.employee_no
                    </td>
                  </tr>

                  <tr>
                    <td>Work place</td>
                    <td>
                      @company.work_place
                    </td>
                  </tr>
                  <p>
                    <tr>
                      <td>Gender</td>
                      <td>
                        @company.gender
                      </td>
                    </tr>
                  <td>Applicable student</td>
                  <td>
                    @company.applicable_student
                  </td>
                  </tr>
                  <tr>
                    <td>Japanese level:</td>
                    <td>
                      @company.japanese_level
                    </td>
                  </tr>
                  <tr>
                    <td>Code language:</td>
                    <td>
                      <%= @company.code_language %>
                    </td>
                  </tr>
                  <tr>
                    <td>English level:</td>
                    <td>
                      @company.english_level
                    </td>
                  </tr>
                  <tr>
                    <td>Personality desired</td>
                    <td>
                      @company.personality_desired
                    </td>
                  </tr>
                  <tr>
                    <td>Status:</td>
                    <td>
                      @company.status
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <table class="table table-hover">
                  <tbody>
                  <tr>
                    <td style="border-top:none">Name:</td>
                    <td style="border-top:none">
                      <%= @company.name %>
                    </td>
                  </tr>
                  <tr>
                    <td>Address:</td>
                    <td>
                      <%= @company.address %>
                    </td>
                  </tr>
                  <tr>
                    <td>Representative_name</td>
                    <td>
                      <%= @company.representative_name %>
                    </td>
                  </tr>

                  <tr>
                    <td>Representative_role</td>
                    <td>
                      <%= @company.representative_role %>
                    </td>
                  </tr>
                  <p>
                    <tr>
                      <td>Foundation</td>
                      <td>
                        <%= @company.foundation %>
                      </td>
                    </tr>
                  <td>Vietnam representative</td>
                  <td>
                    <%= @company.vietnam_representative %>
                  </td>
                  </tr>
                  <tr>
                    <td>Business content:</td>
                    <td>
                      <%= @company.business_content %>
                    </td>
                  </tr>
                  <tr>
                    <td>Code language:</td>
                    <td>
                      <%= @company.code_language %>
                    </td>
                  </tr>
                  <tr>
                    <td>Work time:</td>
                    <td>
                      <%= @company.work_time %>
                    </td>
                  </tr>
                  <tr>
                    <td>Work hour:</td>
                    <td>
                      <%= @company.work_hour %>
                    </td>
                  </tr>
                  <tr>
                    <td>Appeal:</td>
                    <td>
                      <%= @company.appeal %>
                    </td>
                  </tr>
                  <tr>
                    <td>Other:</td>
                    <td>
                      <%= @company.other %>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="float-right">
              <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a style="padding:5px;" href="<%= "/companies/#{@company.id}/edit" %>"><i class="fa fa-edit fa-1x"></i></a>
                </li>

                <li class="nav-item">
                  <%= link_to '<i class="fas fa-trash-alt fa-1x"></i>'.html_safe, @company, method: :delete, data: {confirm: 'Are you sure?'} %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <hr/>
      <h2>Comments</h2>
      <section id="comments-section">
        <ol id="comments">
          <%= render @comments %>
        </ol>
        <% if current_user %>
        <%= form_for [@company, @company.comments.new], remote: true do |f| %>
          <ol>
          <div class="row" style="padding-top:10px;">
            <div class="col-md-1">
              <% if current_user.picture.presence %>
              <%= image_tag(current_user.picture.thumb.url, class: "rounded-circle mx-auto d-block float-left", alt: "image", width: "75px", height: "75px") %>
              <% else %>
              <img src="http://www.personalbrandingblog.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640-300x300.png"
                class="rounded-circle mx-auto d-block" alt="image" width="75px" height="75px">
              <% end %>
            </div>
             <div class="col-md-11" style="padding-left:30px;">
              <li>
                <%= f.text_area :content, rows: 2, cols: 60, placeholder: "Write your comment here" %>
              </li>
              <li>
                <%= f.submit 'Comment', class: 'button' %>
              </li>
            </div>
          </div>
          </ol>
        <% end %>
        <% end %>
      </section>
    </div>
  </div>
</main>
<script>
  $(document).ready(function(){
    
    /* 1. Visualizing things on Hover - See next part for action on click */
    $('#stars li').on('mouseover', function(){
      var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on
    
      // Now highlight all the stars that's not after the current hovered star
      $(this).parent().children('li.star').each(function(e){
        if (e < onStar) {
          $(this).addClass('hover');
        }
        else {
          $(this).removeClass('hover');
        }
      });
      
    }).on('mouseout', function(){
      $(this).parent().children('li.star').each(function(e){
        $(this).removeClass('hover');
      });
    });
    
    
    /* 2. Action to perform on click */
    $('#stars li').on('click', function(){
      var onStar = parseInt($(this).data('value'), 10); // The star currently selected
      var stars = $(this).parent().children('li.star');
      
      for (i = 0; i < stars.length; i++) {
        $(stars[i]).removeClass('selected');
      }
      
      for (i = 0; i < onStar; i++) {
        $(stars[i]).addClass('selected');
      }
      
      // JUST RESPONSE (Not needed)
      var ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);
      var msg = "";
      if (ratingValue > 1) {
          alert(ratingValue);
      }
      else {
          alert(ratingValue);
      }
      responseMessage(msg);
      
    });
    
    
  });


  function responseMessage(msg) {
    $('.success-box').fadeIn(200);  
    $('.success-box div.text-message').html("<span>" + msg + "</span>");
  }
</script>
