<main role="main">
  <div class="container" style="padding-top:50px; padding-bottom:50px">
    <div class="row">
      <%= render "company_card" %>
      <%= render "table" %>
    </div>
    <div>
      <h3>Your review</h3>
      <% if !current_user %><a href="/users/sign_in">(Sign in to comment)</a><% end %>
      <hr/>
      <% if current_user %>
          <%= render 'review_form' %>
          <hr/>
      <% end %>
    </div>
    <%= render 'review' %>
  </div>
</div>
</main>
<% if current_user %>
  <%= render "script" %>
<% end %>