<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Representative name:</strong>
  <%= @company.representative_name %>
</p>

<p>
  <strong>Representative role:</strong>
  <%= @company.representative_role %>
</p>

<p>
  <strong>Foundation:</strong>
  <%= @company.foundation %>
</p>

<p>
  <strong>Vietnam representative:</strong>
  <%= @company.vietnam_representative %>
</p>

<p>
  <strong>Business content:</strong>
  <%= @company.business_content %>
</p>

<p>
  <strong>Code language:</strong>
  <%= @company.code_language %>
</p>

<p>
  <strong>Work time:</strong>
  <%= @company.work_time %>
</p>

<p>
  <strong>Work hour:</strong>
  <%= @company.work_hour %>
</p>

<p>
  <strong>Appeal:</strong>
  <%= @company.appeal %>
</p>

<p>
  <strong>Other:</strong>
  <%= @company.other %>
</p>

<%= image_tag(@company.picture.url, alt: "Company Picture") if @company.picture? %>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
