<%= form_with(model: recruit, local: true) do |form| %>
  <% if recruit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recruit.errors.count, "error") %> prohibited this recruit from being saved:</h2>

      <ul>
      <% recruit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.number_field :company_id %>
  </div>

  <div class="field">
    <%= form.label :work_type %>
    <%= form.text_field :work_type %>
  </div>

  <div class="field">
    <%= form.label :employee_no %>
    <%= form.number_field :employee_no %>
  </div>

  <div class="field">
    <%= form.label :workplace %>
    <%= form.text_field :workplace %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.number_field :gender %>
  </div>

  <div class="field">
    <%= form.label :applicable_student %>
    <%= form.check_box :applicable_student %>
  </div>

  <div class="field">
    <%= form.label :japanese_level %>
    <%= form.text_field :japanese_level %>
  </div>

  <div class="field">
    <%= form.label :english_level %>
    <%= form.text_field :english_level %>
  </div>

  <div class="field">
    <%= form.label :job_description %>
    <%= form.text_area :job_description %>
  </div>

  <div class="field">
    <%= form.label :personality_desired %>
    <%= form.text_field :personality_desired %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
