<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <title>Hedspi家族</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
    <!-- Custom styles for this template -->
  </head>

  <body>
   <header>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg> -->
            <strong>Hedspi家族</strong>
          </a>
          <ul class="nav justify-content-end">
            <% if !user_signed_in? %>
              <li class="nav-item">
                <a class="nav-link text-white" href="/users/sign_up">Sign up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/users/sign_in">Login</a>
              </li>
            <% else %>
              <li class="nav-item">
                <a class="nav-link text-white" href="/companies/new">Add Company</a>
              </li>
              <li class="nav-item">
                <%= link_to("My profile", current_user, class: "nav-link text-white") %>
              </li>
              <li class="nav-item">
                <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link text-white") %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

     <% if !flash.empty? %>
       <div id="flash">
         <% flash.keys.each do |k| %>
           <div class="<%= k %>">
             <%= flash[k] %>
           </div>
         <% end %>
       </div>
     <% end %>

    </header>
    
    <%= yield %>
    <footer class="footer">
        <div class="container">
          <p class="float-right">
            <a href="#">Back to top</a>
          </p>
          <p>IT Nihongo 3 Project - Campboot team</p>
        </div>
    </footer>


    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>